.logo a{
display: inline-block;
font-size: 45px;
margin-top: 13px;
font-weight: bold;
}

.scheme_original a {
    color: #0E3120;
}

.scheme_original a:hover {
    color: red;
}

.scheme_original .contact_button>a.first_button {
    background-color: #008036;
    color: #ffffff;
}

.scheme_original .contact_button>a.first_button:hover {
    background-color: black;
    color: #ffffff;
}

.scheme_original .contact_button>a.second_button {
    background-color: red;
    color: #FFF;
}

.scheme_original .contact_button>a.second_button:hover {
    background-color: black;
    color: #FFF;
}

.scheme_original .menu_main_nav>a:hover, .scheme_original .menu_main_nav>li>a:hover, .scheme_original .menu_main_nav>li.sfHover>a, .scheme_original .menu_main_nav>li.current-menu-item>a, .scheme_original .menu_main_nav>li.current-menu-parent>a, .scheme_original .menu_main_nav>li.current-menu-ancestor>a {
    color: #008036;
}

.scheme_original .menu_main_nav>li ul {
    color: #ffffff;
    background-color: #008036;
}

.sc_item_descr {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0 0 2.2em;
    text-align: center;
    word-spacing: 0; 
}

.top_panel_wrap .logo {
     margin: 2em; 
    overflow: hidden;
}

.logo_main img {
    float: left;
    margin: 0 0.5em 0.1em 0;
    
}

.logo_main{
    float:left;
    width: 130px;
}

.top_panel_wrap .logo_main {
    max-height: 300px;
    width: 100px;
    padding:20px 0;
    border-radius: 100%;
}

.staff-photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}