.logo a{
display: inline-block;
font-size: 45px;
margin-top: 13px;
font-weight: bold;
}

.scheme_original a {
    color: #008000;
}

.scheme_original a:hover {
    color: red;
}

.scheme_original .contact_button>a.first_button {
    background-color: #008036;
    color: #ffffff;
}

.scheme_original .contact_button>a.first_button:hover {
    background-color: black;
    color: #ffffff;
}

.scheme_original .contact_button>a.second_button {
    background-color: red;
    color: #FFF;
}

.scheme_original .contact_button>a.second_button:hover {
    background-color: black;
    color: #FFF;
}

.scheme_original .menu_main_nav>a:hover, .scheme_original .menu_main_nav>li>a:hover, .scheme_original .menu_main_nav>li.sfHover>a, .scheme_original .menu_main_nav>li.current-menu-item>a, .scheme_original .menu_main_nav>li.current-menu-parent>a, .scheme_original .menu_main_nav>li.current-menu-ancestor>a {
    color: #008036;
}

.scheme_original .menu_main_nav>li ul {
    color: #ffffff;
    background-color: #008036;
}

.sc_item_descr {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0 0 2.2em;
    text-align: center;
    word-spacing: 0; 
}

.top_panel_wrap .logo {
     margin: 6em 0 0 2em; 
    overflow: hidden;
}

.logo_main img {
    float: left;
    margin: 0 0.5em 0.1em 0;
    
}

.logo_main{
    float:left;
    width: 130px;
}

.top_panel_wrap .logo_main {
    max-height: 300px;
    width: 200px;
    padding:20px 0;
    border-radius: 100%;
}

.top_panel_fixed .top_panel_wrap .logo_main {
    max-height: 300px;
    width: 200px;
    padding:20px 0;
    border-radius: 100%;
}


.staff-photos{
    display: flex;
  /*  flex-wrap: wrap;*/
    justify-content: space-evenly;
    align-items: center;
    background-color: black;

}

.staff-photos div{
    margin: 20px;
}

.top_panel_fixed .top_panel_wrap .logo_main {
     display: block; 
}

.team_brief_info_title{
    margin-top:20px!important;
}

.logo-section{
    display:flex;
    justify-content: center;
}
.logo-section img{
    width: 300px;
    
}

.scheme_original .sc_team_item .sc_team_item_info .sc_team_item_position, .scheme_original .post_type_donation h4,
h4.entry-title a{
   color: #008036!important;
}

.scheme_original .top_panel_middle {
    background-color: #000;
}

.block_who_we_are{
    background-color: green;
}

.block_who_we_are .sc_services_title{
    color:#FFF;
}

 .scheme_original .sc_item_descr {
    color: black;
    font-weight: bold;
}

.scheme_original .sc_button.sc_button_style_filled2 {
    background-color: #008000;
    color: #ffffff;
}

.scheme_original .sc_button.sc_button_style_filled2:hover {
    background-color: red;
    color: #ffffff;
}

.block_our_logo{
    background-color:black!important;
}

.block_our_logo .sc_services_title{
    color:#FFF;
}

.block_our_logo .sc_item_descr{
    margin-top:40px;
    color:white;
}

.tp-caption{
    background: rgba(255, 0, 0, 0.5);
}